* {
    padding: 0;
    border: 0;
    margin: 0;
}
a {text-decoration: none;}
li {list-style: none;}

body{
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    background-color: #fff;
}
/* =====================================
              content
===================================== */
.mobile{
    position: relative;
    width: 100%;
    box-sizing: border-box; 
}
.mobile .mobile_img{width: 100%;}
.desk{display: none;}
@media(min-width:768px){
    .desk{display: block;}
    .mobile{display: none;}
}



















